*.pdf
*.bm
*.cl
*.cm
*.uvf
*.mp/
*.im/
*.vis
*.m0
*.png
*.fits
.*.swp
*~
.miriadhis
.mfits.pro.swo

*.swo


*.eps

*.dat

*.f0

*.info

*.lock

*.log

*.f0i

*.f1

*.f0_TSM0

*.ps

*.f2

*.f2_TSM1

*.f3

*.f3_TSM1

*.f4

*.f5

*.f5_TSM1

*.f6

*.f6_TSM0

*.f7

*.f7_TSM1

*.f8

*.f8_TSM1

*.last
