*.bm
*.cl
*.cm
*.uvf
*.mp/
*.im/
*.vis
*.m0
*.fits
.*.swp
*~
.miriadhis
.mfits.pro.swo
.pro
*.swo
*.pdf
*.dat
*.png
*.f0
*.eps
*.info
*.ps
*.lock
*.pptx
*.log

*.f0i

*.f1

*.f0_TSM0

*.f2

*.f2_TSM1

*.f3

*.f3_TSM1

*.f4

*.f5

*.f5_TSM1

*.f6

*.f6_TSM0

*.f7

*.f7_TSM1

*.f8

*.f8_TSM1

*.last

.nfs*

49quit*
Circular_im_check.py
deprojectiontest.py
v2.py
!49ceti_continuum_image_deprojected.ps
!49Ceti_continuum_dep_averaged.eps
!49Ceti_continuum_&_residuals_tapered.png
!49Ceti_continuum_untapered.png
!49Ceti_line_dep_averaged.eps
!49Ceti_line_dep_taper_moment.png
